<ion-modal-view ng-controller="addParticipantsController as addParticipantsCtrl"> 
	<ion-header-bar>
 		<h1 class="title">{{'ADD_PARTICIPANTS.TITLE' | translate}}</h1>
     	<div class="buttons">
      		<button class="button button-clear" ng-click="addParticipantsCtrl.closeDialog()">{{'DIALOG.CLOSE_BTN' | translate}}</button>
    	</div>
	</ion-header-bar>
	<ion-content>
		<div class="card">
			<div class="item item-divider">
    			{{'ADD_PARTICIPANTS.ADD_PERSON' | translate}}
  			</div>
  			<div class="item item-text-wrap">
  			 <div class="item item-input-inset">
    			<label class="item-input-wrapper">
      				<input type="text" placeholder="{{'ADD_PARTICIPANTS.EMAIL' | translate}}" ng-model="addParticipantsCtrl.email">
    			</label>
    			<button class="button button-small button-positive" ng-click="addParticipantsCtrl.addUserWithMail()">
      				{{'ADD_PARTICIPANTS.ADD' | translate}}
    			</button>
 			 </div>
  			</div>
		</div>
		<div class="list card contact-list"
			ng-init="addParticipantsCtrl.getContactList()">
			<div class="item item-divider">
				{{'ADD_PARTICIPANTS.CONTACT_LIST' | translate}}
			</div>
			<div class="item">
			    <input type="text" placeholder="{{'ADD_PARTICIPANTS.FILTER_NAME' | translate}}" ng-model="searchName">
			</div>
			<div class="item row" ng-repeat="contact in contacts | orderBy: 'displayName' | filter:searchName" ng-click="addParticipantsCtrl.addUser(contact)">
				<img class="contact-icon" ng-src="{{ contact.photos }}">
				<div class="contact-name col">{{ contact.displayName }}</div>
					<label class="checkbox">
				 		<input type="checkbox" ng-model="contact.is_participant">
				 	</label>
			</div>
		</div>
	</ion-content>
</ion-modal-view>