<ion-modal-view ng-controller="addParticipantsController as addParticipantsCtrl"> 
 <ion-header-bar>
  <h1 class="title">Teilnehmer hinzufügen</h1>
     <div class="buttons">
      <button class="button button-clear" ng-click="addParticipantsCtrl.closeDialog()">Schließen</button>
    </div>
 </ion-header-bar>
<ion-content>
<div class="list card contact-list"
	ng-init="addParticipantsCtrl.getContactList()">
	<div class="item item-divider">Kontaktliste</div>
	<div class="item">
	    <input type="text" placeholder="Name eingeben" ng-model="searchName">
	</div>
	<div class="item row" ng-repeat="contact in contacts | orderBy: 'displayName' | filter:searchName" ng-click="addParticipantsCtrl.addUser(contact)">
		<img class="contact-icon" ng-src="{{ contact.photos }}">
		<div class="contact-name col">{{ contact.displayName }}</div>
		 <label class="checkbox">
		 <input type="checkbox" ng-model="contact.is_participant">
		 </label>
	</div>
</div>
</ion-content> </ion-modal-view>