<ion-modal-view ng-controller="addParticipantsController as addParticipantsCtrl"> 
 <ion-header-bar>
  <h1 class="title">Teilnehmer hinzufügen</h1>
     <div class="buttons">
      <button class="button button-clear" ng-click="addParticipantsCtrl.closeDialog()">Schließen</button>
    </div>
 </ion-header-bar>
<ion-content>
<div class="list card contact-list"
	ng-init="addParticipantsCtrl.getContactList()">
	<div class="item item-divider">Kontaktliste</div>
	<div class="item row" ng-repeat="contact in contacts">
		<img class="contact-icon" ng-src="{{ contact.avatar }}">
		<div class="contact-name col">{{ contact.name }}</div>
		<button class="button button-icon icon ion-close-round"
			ng-click="editTripCtrl.deletPaticipant(contact)"></button>
	</div>
</div>
</ion-content> </ion-modal-view>