<ion-view title="{{'EXPORT.TITLE' | translate}}">
	<content-header></content-header>
  	<ion-content class="has-header">
		<div class="list card">
			<div class="item item-input">
				<label class="input-label">{{'EXPORT.NAME' | translate}}</label>
				<input type="text" ng-change = "exportCtrl.changeName()" ng-model="exportCtrl.name">	
				<i class="errorIcon icon ion-alert-circled error" ng-show = "exportCtrl.hasNameError()"></i>	
			</div>
			<div class="item item-input">
				<label class="input-label">{{'EXPORT.STARTDATE' | translate}}</label>
				<input type="date" ng-change = "exportCtrl.changeDate()" ng-model="exportCtrl.start">	
				<i class="errorIcon icon ion-alert-circled error" ng-show = "exportCtrl.hasDateError()"></i>		
			</div>
			<div class="item item-input">
				<label class="input-label">{{'EXPORT.ENDDATE' | translate}}</label>
				<input type="date" ng-change = "exportCtrl.changeDate()" ng-model="exportCtrl.end">	
				<i class="errorIcon icon ion-alert-circled error" ng-show = "exportCtrl.hasDateError()"></i>		
			</div>
			<label class="item" >
		         <button class="button button-block button-positive" ng-click = "exportCtrl.doExport()"
		          		 ng-disabled = "exportCtrl.disableExportButton()" >{{'EXPORT.EXPORTBTN' | translate}}
		         </button>
		    </label>		    
		</div>
  	</ion-content>
</ion-view>