<ion-view title="{{'LOCATION_LIST.TITLE' | translate: '{city_name: city.name}'}}">
  <content-header></content-header>
  <ion-content scroll="false" class="has-header">
    <div class="button-bar tabbar">
      <button class="button" ng-class="{'selected': locationListCtrl.isActiveTab('list')}" ng-click="locationListCtrl.setTab('list')">
        {{'LOCATION_LIST.LIST_TAB' | translate}}
      </button>
      <button class="button" ng-class="{'selected': locationListCtrl.isActiveTab('map')}" ng-click="locationListCtrl.setTab('map')" ng-disabled="locationListCtrl.locations.length < 1">
        {{'LOCATION_LIST.MAP_TAB' | translate}}
      </button>
      <button class="button" ng-class="{'selected': locationListCtrl.isActiveTab('suggest')}" ng-click="locationListCtrl.setTab('suggest')">
        {{'LOCATION_LIST.SUGGEST_TAB' | translate}}
      </button>
    </div>
    <!-- location List -->
    <ion-scroll class="city-list-scroll" ng-show="locationListCtrl.isActiveTab('list')">
    	<ion-list class="trip-list location-list" show-reorder="locationListCtrl.data.showReordering">
    	  <ion-item ng-repeat="location in locationListCtrl.locations" ng-click="locationListCtrl.navToLocationDetail(location)">
      	  	<div class="date">
	        	<div class="date-start">{{location.start_date | date: 'dd.MM HH:mm'}}</div>
	        	<div class="date-end">{{location.end_date | date: 'dd.MM HH:mm'}}</div>
	        </div>
	        <div class="actions">
	        	<button class="button button-icon icon ion-edit" ng-click="locationListCtrl.navToEditLocation(location)" stop-event></button>
	        </div>
	        <div class="item-center item-text-wrap">
	        	<div class="name">{{location.name}}</div>
	        </div>
    	    <ion-reorder-button class="ion-navicon"
    	        						     on-reorder="locationListCtrl.reorderLocation(location, $fromIndex, $toIndex)">
          </ion-reorder-button>
          <ion-option-button class="button-assertive" ng-click="locationListCtrl.deleteLocation(location)">{{'CITY_LIST.DELETE' | translate}}</ion-option-button>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <div class="reordering" ng-show="locationListCtrl.data.showReordering">
        <div class="text">
          {{'TRIP_LIST.REORDERING' | translate}}
          <span class="stop-button" ng-click="menuCtrl.reorder()">X</span>
        </div>
    </div>
    <!-- map -->
    <div class="map-wrapper" ng-show="locationListCtrl.isActiveTab('map')">
    <div class="overlay">
      <table>
        <tr>
          <td>{{'MAP.ROAD_DISTANCE' | translate}}:</td>
          <td>{{locationListCtrl.distance}}</td>
        </tr>
        <tr>
          <td>{{'MAP.TRAVEL_TIME' | translate}}:</td>
          <td>{{locationListCtrl.travelTime}}</td>
        </tr>
      </table>
    </div>
    <div class="map-container" id="map-canvas-locations"></div>
    </div>
    <!-- map with suggestions -->
    <div class="suggest-wrapper" ng-show="locationListCtrl.isActiveTab('suggest')">
      <!-- Dropdown, see http://codepen.io/mhartington/pen/CImqy -->
      <fancy-select
          allow-empty="true"
          value="values"
          multi-select="true"
          text="'LOCATION_LIST.CHOOSE_CATEGORIES' | translate"
          items="placesCategories">
      </fancy-select>

      <!-- container for map and suggestions -->
      <div id="map-and-suggest-container">
        <!-- Map container -->
        <div class="map-container-small" id="map-canvas-locations-suggest"></div>  

        <!-- List of suggestions -->
        <ion-scroll>
          <ion-list>
              <ion-checkbox ng-repeat="suggestedPlace in suggestedPlaces"
                    ng-checked="suggestedPlace.checked"
                    ng-model="suggestedPlace.checked"
                    ng-disabled="suggestedPlace.addedAlready">
                <div class="fancy-select-icon" ng-if="suggestedPlace.icon != null">
                  <img ng-src="{{suggestedPlace.icon}}" />
                </div>
                {{suggestedPlace.name}}
              </ion-checkbox>
          </ion-list>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-positive triplist-footer" ng-show="!locationListCtrl.isActiveTab('map')">
    <!-- Add location button, only show in list tab -->
  	<button class="button button-icon icon ion-plus-round" 
      ng-click="locationListCtrl.navToAddLocation()"
      ng-show="locationListCtrl.isActiveTab('list')" >
  		{{'LOCATION_LIST.ADD_LOCATION_BTN' | translate}}
  	</button>

    <!-- Add all chosen locations, only show in suggest tab -->
    <button class="button button-icon icon ion-plus-round" 
      ng-click="locationListCtrl.addChosenLocations()"
      ng-show="locationListCtrl.isActiveTab('suggest')" >
      {{'LOCATION_LIST.ADD_CHOSEN_LOCATIONS_BTN' | translate}}
    </button>
  </ion-footer-bar>
</ion-view>
