<ion-view title="{{'LOCATION_LIST.TITLE' | translate: '{city_name: city.name}'}}">
  <content-header></content-header>
  <ion-content class="has-header">
  	<ion-list class="location-list">
      <ion-item ng-repeat="location in locations" ng-click="locationListCtrl.navToLocationDetail(location)">
        	{{location.name}}
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-positive triplist-footer">
  	<button class="button button-icon icon ion-plus-round" ng-click="locationListCtrl.navToAddLocation()">
  		{{'LOCATION_LIST.ADD_LOCATION_BTN' | translate}}
  	</button>
  </ion-footer-bar>
</ion-view>
