<ion-view title="{{city.name}} | Ziele">
  <content-header></content-header>
  <ion-content class="has-header">
  	<ion-list class="location-list">
      <ion-item ng-repeat="location in locations" ng-click="">
        	{{location.name}}
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-positive triplist-footer">
  	<button class="button button-icon icon ion-plus-round" ng-click="locationListCtrl.navToAddLocation()">Ziel hinzufügen</button>
  </ion-footer-bar>
</ion-view>
