<ion-view title="Benutzeranmeldung">
	  <ion-content class="has-header" ng-controller = "loginController as loginCtrl">
	      <div class="list card">
	        <label class="item item-input">
	          <span class="input-label">Benutzername</span>
	          <input type="text" ng-init="loginCtrl.loginData.username='test_user'" ng-model="loginCtrl.loginData.username">
	        </label>
	        <label class="item item-input">
	          <span class="input-label">Passwort</span>
	          <input type="password" ng-init="loginCtrl.loginData.password='un1tt3st1ng'" ng-model="loginCtrl.loginData.password">
	        </label>
	       		<label class="item" >
	          		<button class="button button-block button-positive" ng-click = "loginCtrl.login()"
	          				ng-disabled = "!loginCtrl.verifyLoginButton()" >Einloggen</button>
	        	</label>
	      </div>
	      <div class="list card">
	      	<label class="item">
	      		Noch nicht registriert? Jetzt Anmelden.
	      		<button class="button button-block button-positive" ng-click = "loginCtrl.navToRegisterView()">
	      			Zur Registrierung
	      		</button>
	        </label>
	      </div>
	  </ion-content>
</ion-view>
