<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
       <button class="button button-icon" menu-close><i class="icon ion-ios7-arrow-forward"></i></button>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Hallo Max!
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  
  <ion-side-menu side="right" ng-controller="chatController as chatCtrl">
  	 <header class="bar bar-header bar-stable">
      <button class="button button-icon" menu-close><i class="icon ion-ios7-arrow-back"></i></button>
      <h1 class="title">Chat</h1>
    </header>
    <ion-content class="has-header" delegate-handle="chatScroll">
    	<div class="chat">
			<div class="msg" ng-class="(msg.user.me) ? 'msg-right' : 'msg-left'" ng-repeat="msg in chatCtrl.messages | orderBy: msg.created_on">
				<div class="icon">
					<img ng-src="{{msg.user.avatar}}" />
				</div>
				<div class="msg-bubble-wrapper">
					<div class="msg-bubble">
						<div class="msg-author">{{msg.user.username}}</div>
						{{msg.msg_text}}
						<div class="msg-info">{{msg.created_on | date: 'dd.MM.yy - HH:mm'}}</div>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</div>
    </ion-content>
    <ion-footer-bar>
    	<textarea class="msg-input" ng-model="msgText" ng-init="msgText =''" placeholder="Geben Sie eine Nachricht ein."></textarea>
    	<button class="button icon ion-ios7-paperplane" ng-click="chatCtrl.sendMsg()" ng-disabled="msgText.length == 0">
    	</button>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
