<ion-view title="{{'SETTINGS.TITLE' | translate}}">
  	<content-header></content-header>
  	<ion-content class="has-header" ng-init="settingsCtrl.initLanguage()">
		<!-- Language settings -->
		<div class="list card">
			<div class="item item-divider">{{'FORMS.LANGUAGE' | translate}}</div>
			<div class="item item-input">
				<label class="input-label">{{'FORMS.LANGUAGE' | translate}}</label>
				<select ng-change="settingsCtrl.changeLanguage(language)" 
						ng-model="language">
					<option value="{{language.short}}" ng-repeat="language in settingsCtrl.languages">{{'LANGUAGES.' + language.key | translate}}</option>
				</select>
			</div>
		</div>
		<!-- Account settings -->
		<div class="list card">
			<div class="item item-divider">{{'SETTINGS.ACCOUNT' | translate}} - {{user.username}}</div>
			<div class="item item-input">
				<label class="input-label">{{'FORMS.NAME' | translate}}</label>
				<input type="text" ng-model="user.name">
			</div>
			<div class="item item-input">
				<label class="input-label">{{'FORMS.MAIL' | translate}}</label>
				<input type="text" ng-model="user.email">
			</div>
			<div class="item item-input">
				<label class="input-label">{{'FORMS.PHONE' | translate}}</label>
				<input type="text" ng-model="user.phone">
			</div>
			<div class="item">
				<button class="button button-positive button-block" 
	      				ng-click="settingsCtrl.saveUser()">
	      			{{'SETTINGS.SAVE_USER_BTN' | translate}}
	      		</button>
			</div>
		</div>
		<!-- Password -->
		<div class="list card">
			<div class="item item-divider">{{'SETTINGS.PASSWORD' | translate}}</div>
			<div class="item item-input">
				<label class="input-label">{{'FORMS.NEW_PASSWORD' | translate}}</label>
				<input type="password" ng-model="pw.new_pw" ng-init="pw.new_pw = ''">
			</div>
			<div class="item item-input">
				<label class="input-label">{{'FORMS.PASSWORD_REPEAT' | translate}}</label>
				<input type="password" ng-model="pw.repeat" ng-init="pw.repeat = ''">
			</div>
			<div class="item">
				<button class="button button-positive button-block" 
	      				ng-click="settingsCtrl.savePassword()"
	      				ng-disabled="pw.new_pw == '' || pw.repeat == '' || pw.new_pw != pw.repeat">
	      			{{'SETTINGS.SAVE_PW_BTN' | translate}}
	      		</button>
			</div>
		</div>
		<div class="reordering" ng-show="toast.show" ng-init="toast.show=false"><div class="text" ng-init="toast.content=''">{{toast.content}}</div></div>
  	</ion-content>
</ion-view>