<ion-view title="{{tripListCtrl.title}}">
  <content-header></content-header>
  <ion-content class="has-header">
    <ion-list class="trip-list">
      <ion-item ng-repeat="trip in trips | orderBy: 'start_date'" ng-click="tripListCtrl.navToCityList(trip)">
        	<div class="date">
        		<div class="date-start">{{trip.start_date | date: 'dd.MM.yy'}}</div>
        		<div class="date-end">{{trip.end_date | date: 'dd.MM.yy'}}</div>
        	</div>
        	<div class="actions">
        		<button class="button button-icon icon ion-edit" ng-click="tripListCtrl.navToEditTrip(trip)" stop-event></button>
        	</div>
        	<div class="item-center">
        		<div class="name">{{trip.name}}</div>
        		<div class="info">
        			{{trip.no_participants}} Teilnehmer | {{trip.no_cities}} 
        			<ng-pluralize count="trip.no_cities" 
        				when="{'1': 'Stadt', 'other': 'Städte'}">
                    </ng-pluralize></div>
        	</div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-stable triplist-footer">
    	<button class="button button-icon icon ion-plus-round" ng-click="tripListCtrl.navToAddTrip()">Reise hinzufügen</button>
    </ion-footer-bar>
</ion-view>